{% extends 'base.html' %}
{% block title%}Semester 1 {% endblock%}
{% block content %}
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <br><br>
        <h2>Let's Go...</h2>
        <p>Semester 1</p>
      </div>
            <div class="row">
              <!-- ======= englis ======= -->
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-file"></i></div>
                  <h4><a href="">Communication Skills In English</a></h4>
                  <ul>
                    {% for pdf in Eng %}
                      <li><a href="{{ pdf.file.url }}">{{ pdf.name}}</a></li>
                    {% endfor %}
                    </ul>
                  <p>_____________________________________________________</p>
                </div>
              </div>
              <!-- ======= end english ======= -->
              <!-- ======= physics ======= -->
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-file"></i></div>
                  <h4><a href="">Applied Physics 1</a></h4>
                  <ul>
                    {% for pdf in Phy %}
                      <li><a href="{{ pdf.file.url }}">{{ pdf.name}}</a></li>
                    {% endfor %}
                    </ul>
                    <p>_____________________________________________________</p>
                </div>
              </div>
              <!-- ======= end physics ======= -->
              <!-- ======= chemistry ======= -->
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-tachometer"></i></div>
                  <h4><a href="">Applied Chemistry</a></h4>
                  <ul>
                  {% for pdf in Chem %}
                    <li><a href="{{ pdf.file.url }}">{{ pdf.name}}</a></li>
                  {% endfor %}
                  </ul>
                  <p>_____________________________________________________</p>
                </div>
              </div>
              <!-- ======= end chemistry ======= -->
              <!-- ======= maths ======= -->
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-world"></i></div>
                  <h4><a href="">Mathematics 1</a></h4>
                  <ul>
                    {% for pdf in Mat %}
                      <li><a href="{{ pdf.file.url }}">{{ pdf.name}}</a></li>
                    {% endfor %}
                    </ul>
                    <p>_____________________________________________________</p>
                </div>
              </div>
              <!-- ======= end maths ======= -->
              <!-- ======= graphics ======= -->
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-slideshow"></i></div>
                  <h4><a href="">Engineering Graphics</a></h4>
                  <ul>
                    {% for pdf in Gra %}
                      <li><a href="{{ pdf.file.url }}">{{ pdf.name}}</a></li>
                    {% endfor %}
                    </ul>
                    <p>_____________________________________________________</p>
                </div>
              </div>
              <!-- ======= end graphics ======= -->
              <!-- ======= it ======= -->
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-arch"></i></div>
                  <h4><a href="">Introduction to IT Systems Lab</a></h4>
                  <ul>
                    {% for pdf in I %}
                      <li><a href="{{ pdf.file.url }}">{{ pdf.name}}</a></li>
                    {% endfor %}
                    </ul>
                    <p>_____________________________________________________</p>
                </div>
              </div>
              <!-- ======= end it ======= -->
              <!-- ======= chemistry lab======= -->
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-arch"></i></div>
                  <h4><a href="">Applied Chemistry Lab</a></h4>
                  <ul>
                    {% for pdf in Chemlab %}
                      <li><a href="{{ pdf.file.url }}">{{ pdf.name}}</a></li>
                    {% endfor %}
                    </ul>
                    <p>_____________________________________________________</p>
                </div>
              </div>
              <!-- ======= end chemistry lab ======= -->
              <!-- ======= sports and yoga ======= -->
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box">
                  <div class="icon"><i class="bx bx-arch"></i></div>
                  <h4><a href="">Sports And Yoga</a></h4>
                  <ul>
                    {% for pdf in Sport %}
                      <li><a href="{{ pdf.file.url }}">{{ pdf.name}}</a></li>
                    {% endfor %}
                    </ul>
                    <p>_____________________________________________________</p>
                </div>
              </div>
              <!-- ======= end sports and yoga ======= -->
            </div>
    </div>
  </section><!-- End Services Section -->
{% endblock %}   